# Ignore the vendor directory, which contains third-party dependencies
vendor/

# Ignore the repository's structure files
structure.txt

# Ignore docker-compose files
docker-compose.dev.yml
Dockerfile

# Ignore environment variable files
.env
